<!DOCTYPE html>
<html>
<head>
    <title>Normal Time</title>
</head>
<body>
    <p>In real life you were absent for: <%= time.years() %> years <%= time.months() %> months <%= time.days() %> days</p>
</body>
</html>