<!DOCTYPE html>
<html>
<head>
    <title>Quantum Time</title>
</head>
<body>
    <p>In quantum space you were absent for: <%= time[0] %> years <%= time[1] %> months <%= time[2] %> days</p>
</body>
</html>