body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    background: #F1F1FA;
    display: block;
    margin: 10px auto;
    border: 0;
}

.box{
    position: fixed;
    align-self: flex-end;
    background-color: red;
    border-radius: 25px;
    padding: 10px;
}