<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./pass_remind.css">
</head>
<body>
    <h1>Password reminder to Oracle RedBull Team</h1>
    <form class="form" method="post" action="/password_remind" enctype="multipart/form-data" id="reg">
        <input type="email" placeholder="Email" name="Email" required>
        <br>
        <input type="submit" class="btn" id="btn" value="Send">
        <br>
        <div class="link-container"><a href="/login">Back</a></div>
    </form>
</body>
</html>